language: java
sudo: required
jdk:
  - oraclejdk8
before_install:
  # Get Commandbox
  - sudo apt-key adv --keyserver keys.gnupg.net --recv 6DA70622
  - sudo echo "deb http://downloads.ortussolutions.com/debs/noarch /" | sudo tee -a /etc/apt/sources.list.d/commandbox.list
install:
  # Install Commandbox
  - sudo apt-get update && sudo apt-get --assume-yes install commandbox
  # Check it's working
  - box version
  # Install CLI: needed to repackage the plugin to a zip on install
  - box install cfwheels-cli
  # Install Master Branch; nb, installed into folder of the git repo name, i.e neokoenig/cfwheels-ical4j
  - box install cfwheels/cfwheels
  # Install the Plugin: use gitHub path to get the absolute latest rather than the forgebox version
  - box install cfwheels/cfwheels-example-app
before_script:
  # Master branch has a bunch of server.jsons we can use, default to server.json
  - box server start
# Type should be the name of the servername should reflect the server we've just started
script: >
  testResults="$(box wheels test type=app servername=exampleapp)";
  echo "$testResults";
  if ! grep -i "\Tests Complete: All Good!" <<< $testResults;  then exit 1; fi
notifications:
    email: true
